.nav-item {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  margin: 0px 25px;
  text-align: center;
}
.navbar-light .navbar-nav .nav-link.active {
  color:white;
  border: 1px solid white;
}
.carousel-inner {
  margin-top: -60px;
  position: relative;
  z-index: 0;
}
.navbar-toggler {
  font-size: .5rem;
}
.carousel-item > img {
  opacity: .7;
}
h1 {
  margin-bottom: 200px;
}

@media only screen and (max-width: 670px) {
  .nav-item {
    font-size: .7rem;
  }
   h1 {
    margin-bottom: 40px;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .carousel-inner {
  margin-top: 0px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: black;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: black;
  }
  .navbar-expand-sm {
    background-image: url(../img/cat-bg.jpg);
    background-position: top;
  }
}
