.block {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  bottom: 200px;
  width: 300px;
  left: 510px;
}
.navbar-light .navbar-nav .nav-link.subscribe {
  border: 1px solid white;
}
.navbar-light .navbar-nav .nav-link.active {
  color: white;
  border: none;
}


